<div class="container my-5">
  <h1 class="mb-4">Tasks</h1>
  <ul class="list-group">
    <% @tasks.each do |task| %>
      <li class="list-group-item d-flex align-items-center py-3">
        <%= form_with url: task_path(task), method: :patch, class: "d-inline-block me-3" do %>
          <%= check_box_tag "completed", "1", task.completed, class: "form-check-input me-2" %>
          <%= label_tag "completed", "Mark as completed", class: "form-check-label visually-hidden" %>
        <% end %>
        <%= link_to task.title, task_path(task), class: "text-decoration-none flex-grow-1" %>
        <%= link_to task_path(task), method: :delete, data: { turbo_confirm: "Are you sure you want to delete this task?" }, class: "ms-3 text-danger" do %>
          <i class="bi bi-trash"></i>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= link_to new_task_path, class: "btn btn-success mt-3 mb-3 ms-3 me-3" do %>
    <i class="bi bi-plus-lg"></i> Add a new task
  <% end %>
</div>
